    <h3 style="padding-left: 200px; padding-top: 20px;">退会</h3>

    <%= form_with url: users_unsubscribes_path, method: :delete, local:true do |f| %>
    <div class="mx-auto container text-align">

        <div class="field col-3">
            <%= f.label :パスワード　%><br />
            <%= f.password_field :password, autofocus: true, class: "col-auto form-control form-control-lg w-100" %>
        </div>

        <div class="unsub">
            <%= f.submit '退会', class: "btn btn-danger mx-auto btn-lg"%>
        </div>
        <% end %>
    </div>