    <h3>ショッピングカート</h3>

<!-- <%= form_with url: new_order, local: true do |f| %> -->
<% @carts.each do |cart| %>
<table>

    <th></th>
    <th></th>
    <th></th>
    <tr>
        <td text-align: center;>
            <img height= "80" src="<%= attachment_image_tag cart, :product.jacket_image_id %>"/>
        </td>
        <td>
            <p>タイトル:<%= cart.product.name %></p><br>
            <p>アーティスト:<%= cart.product.name %></p>
        </td>
        <td>

        </td>
    </tr>
</table>