<h3 style="padding-left: 365px; padding-top: 20px;">住所編集</h3>


<%= form_with model: @user, url: edit_address_path, method: :update, local:true do |f| %>

<%= render "address" %>

<%= f.submit '編集', class: "btn btn-success mx-auto btn-lg"%>
        </div>
        <% end %>
    </div>