<h3 style="padding-left: 365px; padding-top: 20px;">住所編集</h3>

<%= render partial: "address_form" %>

<div class="text-right col-10">
<%= f.submit "確定", class: "btn btn-success mx-auto btn-lg"%>
</div>
<% end %>