/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "now-ui-kit";
 @import "*";

 * {
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
   }

.wrapper{
   min-height: 100vh;
   position: relative;
   padding-bottom: 80px;
   box-sizing: border-box;
}

footer {
      width: 100%;
      height: 80px;
      background-color: #696969;
      color: white;
      position: absolute;
      bottom: 0;
}

.rule {
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #5d627b;
      background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.global-nav {
   position: fixed;
   right: -320px; /* これで隠れる */
   top: 0;
   width: 300px; /* スマホに収まるくらい */
   height: 100vh;
   padding-top: 40px;
   background-color: #fff;
   transition: all .6s;
   z-index: 200;
   overflow-y: auto; /* メニューが多くなったらスクロールできるように */
 }
 .hamburger {
   position: absolute;
   right: 0;
   top: 0;
   width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
   height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
   cursor: pointer;
   z-index: 300;
 }
 .global-nav__list {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .global-nav__item {
   text-align: center;
   padding: 0 14px;
 }
 .global-nav__item a {
   display: block;
   padding: 8px 0;
   border-bottom: 1px solid #eee;
   text-decoration: none;
   color: #111;
 }
 .global-nav__item a:hover {
   background-color: #eee;
 }
 .hamburger__line {
   position: absolute;
   left: 11px;
   width: 18px;
   height: 1px;
   background-color: #111;
   transition: all .6s;
 }
 .hamburger__line--1 {
   top: 14px;
 }
 .hamburger__line--2 {
   top: 20px;
 }
 .hamburger__line--3 {
   top: 26px;
 }
 .black-bg {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: 100;
   background-color: #000;
   opacity: 0;
   visibility: hidden;
   transition: all .6s;
   cursor: pointer;
 }
 /* 表示された時用のCSS */
 .nav-open .global-nav {
   right: 0;
 }
 .nav-open .black-bg {
   opacity: .8;
   visibility: visible;
 }
 .nav-open .hamburger__line--1 {
   transform: rotate(45deg);
   top: 20px;
 }
 .nav-open .hamburger__line--2 {
   width: 0;
   left: 50%;
 }
 .nav-open .hamburger__line--3 {
   transform: rotate(-45deg);
   top: 20px;
 }