// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field_with_errors {
    content: "入力してください"
    background-color: #fcc;
    padding: 2px;
    border-radius: 40px;
}