<h3 class="col-6 offset-md-2" , style="padding-left: 200px; padding-top: 75px;">送料変更</h3>

    <%=form_with model: @const, url: const_path, local:true do |f| %>

    <div class="mx-auto container">
        <table class="">
            <thread>
                <tr>
                    <th>送料</th>
                    <th>値</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <th><%= @name %></th>
                    <td><%= f.text_field :value, autofocus: true %></td>
                </tr>
            </tbody>
        </table>
    <% end %>